.skeleton {
    background: #f0f0f0; /* Màu nền của skeleton */
    border-radius: 4px; /* Làm tròn các góc */
    display: inline-block;
    width: 100%;
    max-width: 300px; /* Chiều rộng tối đa */
    padding: 16px;
    margin: 8px;
}

.skeleton-header {
    width: 60%; /* Chiều rộng của phần header */
    height: 16px; /* Chiều cao của phần header */
    background: #d0d0d0; /* Màu nền của header */
    margin-bottom: 12px;
}

.skeleton-content {
    width: 100%; /* Chiều rộng của phần content */
    height: 12px; /* Chiều cao của phần content */
    background: #e0e0e0; /* Màu nền của content */
    margin-bottom: 8px;
}
