/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* total width */

::-webkit-scrollbar {
  background-color: #ffedd5;
  width: 8px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: white;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #aa261b;
  border-radius: 16px;
}

.my-audio-player {
  /* background-color: red; */
}


audio::-webkit-media-controls-panel {
  background-color: #fbeee0; /* Change the background color of the control panel */
  border-radius: 5px; /* Rounded corners */
}

.my-button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.my-button-74:hover {
  background-color: #fff;
}

.my-button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .my-button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

body {
  font-family: 'Cera Round Pro DEMO', sans-serif;
}